@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --parma-dark: #736CED;
    --parma-light: #9F9FED;
    --light: #D4C1EC;
    --white: #FEF9FF;
    --mid: #8B7C76;
    --dark: #141414;
}

body {
    box-sizing: border-box;
    margin: 0;
    border: 0;

    background-color: var(--white);
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    gap: 19px;
    align-items: center;

    width: 100%;
    min-height: 30px;

    background-color:#dde8eefb;
    box-shadow: -4px 5px 20px 0px #00000012;
    padding: 5px 50px;

    box-sizing: border-box;
}

.navbar p {
    font-size: 1.5em;
    font-weight: 600;
}

.navbar .highlight {
    color: var(--parma-dark);
    font-weight: 500;
}

.navbar .links {
    display: flex;
    gap: 8px;
    align-items: center;

    padding-left: 13px;
}

.navbar .links a {
    color: var(--mid);
    text-decoration: none;
}

.navbar .usr {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius:50%;
    justify-content: center;
    
    justify-self: end;

    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 0;
    margin-left: auto;
    
}
.home {
    display: flex;
    gap: 50px; /* Espaço entre os itens */
    justify-content: center; /* Alinhamento horizontal do conteúdo */
    
    background-color:#FEF9FF;
    box-sizing: border-box; 

    margin-top: 4rem; /* espaçamento externo no elemento (pra fora) */
    padding: 15px; /* espaçamento interno no elemento (pra dentro) */

}

.frase{
    max-width: 700px;

    margin-left: 20px;
    font-size: 1.8em;
}