.courses {
    display: flex;
    justify-content: center;

    gap: 2rem;
}

.courses_nav_content {
    padding: 8px;
    background-color: #f8f8f8;

    width: 100%;
    max-width: 460px;
}

.courses_nav_checkboxes {
    display: flex;
    justify-content: stretch;
    flex-direction: column;

    margin-top: 0.5rem;
}

.courses_nav_checkboxes .item {
    display: flex;
    gap: 2rem;

    width: 100%;
}

.courses_nav_checkboxes .item label {
    display: block;
}

body{
    margin: 0;
    padding: 0;
   
}
.nav-bar{
    background-color: rgb(230, 240, 249);
    padding: 5px;
    padding-left: 15px;
    display: flex; /*Ele faz o alinhamento horizontal do conteudo da div*/
    align-items: center;
}
p{
    font-size: larger;
}
.highlight{
    color:#736CED ;
}

#search-container{
    position: absolute;
    display: flex;
    align-items: stretch; /* deixa todos os itens do conteudo na mesma altura do maior item */

    left: 50%;
    transform: translateX(-50%);
}
#search{
    background-color: rgb(225, 225, 225);
    width: 280px;
    height: 25px;
    border: none;
}
#mag{
    background-color: rgb(225, 225, 225);
}

#letter{
  width: 20px;
  height: 20px;  
}
#not{
  width: 20px;
  height: 20px; 
}
#user{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.nav-bar-images {
    display: flex;
    align-items: center;

    margin-left: auto;
    gap: 1rem;
    transition: 0.4s;
}
.nav-bar-images:hover {
    opacity: 0.8;
    transform: scale(1.1);
   
}


.home-container {
    display: flex;
    align-items: normal;
    justify-content: space-around;

    gap: 1.5rem;

    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    background-color: #c8edf6;
}

.home-container .text {
    width: 36%;
}

.home-container .searchbar {
    position: absolute;
    display: flex;

    justify-content: space-around;
    
    background-color: white;
    width: 75%;

    padding: 8px 8px;

    transform: translateY(16rem);

    color: rgb(225, 225, 225);
    border-radius: 6px;
}

.home-container .searchbar input[type=text] {
    width: 75%;
    
    background-color: transparent;
    border: none;

    padding: 10px 20px;
    border-radius: 6px;
}

.home-container .searchbar input[type=text]:focus {
    outline: 1px solid rgb(67, 66, 66);
}

.home-container .searchbar input[type=text]::placeholder {
    color: rgb(225, 225, 225);
}

.home-container .searchbar .btn {
    background-color: #736CED;
    color: white;

    border-radius: 10px;

    border: 0;
    font-size: 1.05em;
}

.cursos{
  flex-wrap: wrap;
  margin-top:15px ;
  display: flex;
  margin-left:80px;
  gap: 30px;
  margin-bottom: 40px;

}
.texto-curso{
    margin-bottom: 20px;
}
#footer{
    background-color: #00171f;
    margin-top: 85px;
    width: 100%px;
    height: 400px;
}

.aulas{
     box-shadow: 5px 10px 20px  rgb(97, 88, 88);
     transition: 0.4s;
}

.aulas:hover{
   opacity: 0.9;
   width: 350px;
   height: 200px;
}

.texto-curso{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    
}