.header {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-top: 3rem;
}

.header .text {
    max-width: 450px;
}

.header .text h1 {
    font-size: 1.6em;
    padding: 0 !important;
}

.header .text p {
    color: rgb(55, 55, 55);
    padding: 0 !important;
    margin: 0 !important;;
}

.header .ctas {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    margin-top: 0.5rem;
}

.header .ctas .cta {
    display: block;
    width: fit-content;

    text-decoration: none;

    padding: 12px 22px;
    border: none;
    border-radius: 15px;

    background-color: rgb(11, 121, 217);
    color: white;

    font-size: 1.05em;
}

