.courses {
    display: flex;
    justify-content: center;

    gap: 2rem;
}

.courses_nav_content {
    padding: 8px;
    background-color: #f8f8f8;

    width: 100%;
    max-width: 460px;
}

.courses_nav_checkboxes {
    display: flex;
    justify-content: stretch;
    flex-direction: column;

    margin-top: 0.5rem;
}

.courses_nav_checkboxes .item {
    display: flex;
    gap: 2rem;

    width: 100%;
}

.courses_nav_checkboxes .item label {
    display: block;
}