body{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: aliceblue;
    padding: 5px;
    padding-left: 15px;
    display: flex; /*Ele faz o alinhamento horizontal do conteudo da div*/
    align-items: center;
}
p{
    margin-left: 25px;
    font-size: larger;
}
.highlight{
    color:#736CED ;
}

#search-container{
    position: absolute;
    display: flex;
    align-items: stretch; /* deixa todos os itens do conteudo na mesma altura do maior item */

    left: 50%;
    transform: translateX(-50%);
}
#search{
    background-color: rgb(225, 225, 225);
    width: 280px;
    height: 25px;
    border: none;
}
#mag{
    background-color: rgb(225, 225, 225);
}

#cart{
    width: 20px;
    height: 20px;
}
#letter{
  width: 20px;
  height: 20px;  
}
#not{
  width: 20px;
  height: 20px; 
}
#user{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.nav-bar-images {
    display: flex;
    align-items: center;

    margin-left: auto;
    gap: 1rem;
}

.home-container {
    display: flex;
    align-items: normal;
    justify-content: center;

    gap: 1.5rem;

    width: fit-content;
    margin: auto;

    background-color: #dff7fd;
}

.home-container .text {
    width: 36%;
}

.home-container .searchbar {
    position: absolute;
    display: flex;

    justify-content: space-around;
    
    background-color: white;
    width: 75%;

    padding: 8px 8px;

    transform: translateY(16rem);

    color: rgb(225, 225, 225);
    border-radius: 6px;
}

.home-container .searchbar input[type=text] {
    width: 75%;
    
    background-color: transparent;
    border: none;

    padding: 10px 20px;
    border-radius: 6px;
}

.home-container .searchbar input[type=text]:focus {
    outline: 1px solid rgb(67, 66, 66);
}

.home-container .searchbar input[type=text]::placeholder {
    color: rgb(225, 225, 225);
}

.home-container .searchbar .btn {
    background-color: #736CED;
    color: white;

    border-radius: 10px;

    border: 0;
    font-size: 1.05em;
}

#curso1{
    flex-wrap: wrap;
    margin-top: 10px;
  display: flex;
  margin-left: 35px;
  gap: 30px;
}
#curso2{
    flex-wrap: wrap;
    margin-top: 10px;
  display: flex;
  margin-left: 35px;
  gap: 30px;
}
#curso3{
    flex-wrap: wrap;
    margin-top: 10px;
  display: flex;
  margin-left: 35px;
  gap: 30px;
}

#footer{
    background-color: #00171f;
    margin-top: 85px;
    width: 100%px;
    height: 400px;
}